{% extends 'base.html.twig' %}

{% block body %}

<section class="text-center d-flex flex-column m-auto p-3">
    <h2>Ajouter un commentaire: </h2>
    <div class="p-4">
        {{ form(form) }}
    </div>
    </section>
    {% for message in app.flashes('success') %}
            <div class="alert w-50 m-auto text-center alert-success">
                {{ message }}
                <p><a href="{{path('app_home')}}">Cliquez ici pour être redirigé</p></a>
            </div>
        {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}
