{% extends 'base.html.twig' %}

{% block title %}Hello FilmDetailsController!{% endblock %}

{% block body %}
                            <!-- Movie Card Start -->
<div class="d-flex justify-content-center">
            <div class="card-view">
                                <div class="card-header background justify-content-center" style="background: url({{ film.ImgField }});" >
                                    <div class="card-header-icon">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-movie-content">
                                    <div class="card-movie-content-head">
                                        <a href="#">
                                            <h3 class="h4 text-center">{{ film.title }}</h3>
                                        </a>
                                   </div>
                                </div>
                            </div>
                            </div>
                            <!-- Movie Card End -->
{% endblock %}
