{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}Home{% endblock %}

{% block body %}

{% for film in films %}
                             <!-- Movie Card Beginning -->
         <div class="card-view">
                                <div class="card-header background" style="background: url({{ film.ImgField }}); background: cover;" >
                                    <div class="card-header-icon">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-movie-content">
                                    <div class="card-movie-content-head">
                                        <a href="#">
                                            <h3 class="card-movie-title">{{ film.title }}</h3>
                                        </a>
                                   </div>
                                </div>
                            </div>
                            <!-- Movie Card End -->
{% endfor %}

{% endblock %}

