{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}Home{% endblock %}

{% block body %}
<h1 class="display-4 text-center pt-2">Sorties de la semaine</h1>
{% for film in films %}
                             <!-- Movie Card Beginning -->
                                                       <a href="{{path('film_details', {slug: film.slug})}}">             
         <div class="card-view">
                                <div class="card-header background" style="background: url({{ film.ImgField }}); background: cover;" >
                                    <div class="card-header-icon">
                                    </div>
                                </div>
                                <div class="card-movie-content">
                                    <div class="card-movie-content-head">
                                        <a href="{{path('film_details', {slug: film.slug})}}">
                                            <h3 class="h4 text-center">{{ film.title }} </h3>
                                        </a>
                                   </div>
                                </div>
                            </div>
                        </a>
                            <!-- Movie Card End -->
                            
{% endfor %}
{% endblock %}
 {% block footer %}{% endblock %}

